/* Header */

.navbar-brand {
    font-size: 2em;
}

/* Layout */

.col {
    padding-top: 10px;
}

/* File */

.files-dropzone {
    border: 3px dashed lightgray;
    border-radius: 3px;
    padding: 20px;
}

.files-dropzone-active {
    background-color: lightgreen;
}

/* File info */
.data-set-shape {
    margin: 2px;
}

/* Data select */
#data-set-selector {
    margin: 10px 0;
}

/* Data Display */

.data-display {
    width: 100%;
}

.data-display > * {
    display: inline-block;
}


/* Data Table */

/*.data-table-wrapper {*/
    /*!*overflow: auto;*!*/
    /*height: 80vh;*/
/*}*/

/* Graph */

#graph {
    float: right;
    margin: 20px;
    /* TODO not absolute */
    height: 500px;
    width: 100%;
}