/* Header */

.navbar-brand {
  font-size: 2em;
}

nav {
  margin-bottom: 10px;
}

/* Error */

#error {
  display: flex;
  align-items: center;
  justify-content: center;
}

#error div {
  max-width: 50%;
}

#error h2 {
  color: darkred;
  text-align: center;
}

/* Layout */

.col {
  padding: 10px 0;
}

.info-text {
  height: 100%;
  display: flex;
  align-items: center;
}

/* File */

.files-dropzone {
  border: 3px dashed lightgray;
  border-radius: 3px;
  padding: 20px;
}

.files-dropzone-active {
  background-color: lightgreen;
}

/* File info */
.data-set-shape {
  margin: 2px;
}

/* Data select */
#data-set-selector {
  margin: 10px 0;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Data Display */

.data-display {
  width: 100%;
}

.data-display > * {
  display: inline-block;
}

/* Data Table */

.data-table-wrapper {
  height: 500px;
  overflow: auto;
}

/* Graph */

#graph-wrapper {
  height: 70vh;
}

#graph {
  margin: 20px;
  height: 100%;
  width: 100%;
}

.buttons > * {
  margin-right: 10px;
}